@font-face {
    font-family: Official;
    src: url(../fonts/OfficialBook.ttf);
}

nav{
    display: flex;
    padding: 2em;
    background-color: #ff7373;
}

nav > h1{
    margin: 0;
    font-size: 36px;
    font-family: Official;
}