@font-face {
    font-family: Official;
    src: url(../fonts/OfficialBook.ttf);
}

#sidebar{
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a7d5fd;
    gap: 1em;
    padding: 1em 2em;
    min-width: 15em;
}

#add-project{
    cursor: pointer;
    background-color: #409eff;
    padding: 1em;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 100%;
    font-family: Official;
    font-size: large;
}

#add-project:hover{
    background-color: #ffffa7;
}

.sidebar-btn{
    cursor: pointer;
    outline: none;
    background: none;
    text-align: center;
    padding: 0.5em;
    padding-right: 1.5em;
    border: 1px solid #409eff;
    border-radius: 10px;
    font-family: Official;
    font-size: large;
    transition: .25s;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}

.sidebar-btn:hover{
    background-color: #f0ffff;
}

.sidebar-btn > span{
    max-width: 10em;
    overflow: hidden;
}

.selected-project{
    background-color: #f0ffff;
    transform: scale(1.25);
}

.project-btns{
    display: flex;
    align-items: center;
    gap: .25em;
}

.project-action{
    font-size: small;
}

.project-action:hover{
    transform: scale(1.5);
}